server/XML_FINAL_PROJECT_Client/action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Action" type="ActionType"/>
    <xs:complexType name="ActionType">
        <xs:sequence>
            <xs:element type="xs:string" name="name" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="passport" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="dob" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="phoneNumber" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="email" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="score" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="accountType" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="gender" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="cardID" minOccurs="1" maxOccurs="1"/>
            <xs:element  name="Type" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="INSERT"/>
                        <xs:enumeration value="UPDATE"/>
                        <xs:enumeration value="INCREASE"/>
                        <xs:enumeration value="DECREASE"/>
                        <xs:enumeration value="GETDATA"/>

                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>